/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7c9f8;
    margin: 0;
}

/* Header */
header {
    background-color: #f6edf7;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Section styling */
section {
    padding: 40px 20px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* About section */
.about {
    background-color: #fff;
}

/* Skills section */
.skills ul {
    list-style-type: none;
}

.skills li {
    background-color: #eeb0e9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Experience section */
.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 1.6rem;
    color: #333;
}

.job ul {
    list-style-type: none;
    margin-left: 20px;
}

.job li {
    margin-bottom: 10px;
}

/* Contact section */
.contact ul {
    list-style-type: none;
}

.contact li {
    margin-bottom: 10px;
}

.contact a {
    text-decoration: none;
    color: #333;
}

.contact a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #33
   
    }
    
        
  

.sidebar{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
}
